<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.vinod.phonegapwrapper"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Phonegap Wrapper</name>

    <description>
        An example for phonegap build docs. 
    </description>
	<preference name="phonegap-version" value="3.7.0" />
    <author href="https://build.phonegap.com" email="vinodg@managemyspa.com">
        Vinod Gubbala
    </author>

	<gap:platform name="android" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.12" />
	<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
		<!--<param name="APP_ID" value="142260819290070" />
		<param name="APP_NAME" value="Abhishek" />-->
		<param name="APP_ID" value="766939803318132" />
		<param name="APP_NAME" value="Meetup VEMO Tools" />
	</gap:plugin>
	
	<access origin="*" />
	
	
	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/contacts" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/battery" />
	<feature name="http://api.phonegap.com/1.0/device" />
</widget>