<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.vinod.phonegapwrapper"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Phonegap Wrapper</name>

    <description>
        An example for phonegap build docs. 
    </description>
	<preference name="phonegap-version" value="3.5.1" />
    <author href="https://build.phonegap.com" email="vinodg@managemyspa.com">
        Vinod Gubbala
    </author>

	<gap:platform name="android" />
	<feature name="http://api.phonegap.com/1.0/camera" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	<access origin="*" />
</widget>